.feedbacksBlock {
  padding: 60px 15px 80px 15px;
  background: #DCE2E6;
  h2 {
    text-align: center;
    margin-bottom: 25px;
  }
  p.subTitle {
    text-align: center;
    font-size: 22px;
    margin-bottom: 160px;
  }
  .feedbacksColumns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 70px;
    row-gap: 135px;
  }
}
@media screen and (max-width: 1020px) {
  .feedbacksBlock {
    padding: 40px 15px 60px 15px;
    p.subTitle {
      margin-bottom: 135px;
    }
    .feedbacksColumns {
      max-width: 700px;
      grid-template-columns: 1fr;
      margin: 0 auto;
    }
  }
}
@media screen and (max-width: 600px) {
  .feedbacksBlock {
    p.subTitle {
      font-size: 18px;
      margin-bottom: 110px;
    }
    .feedbacksColumns {
      row-gap: 105px;
    }
  }
}