.portfolioBlock {
    padding-top: 60px;
    h2 {
        text-align: center;
        margin-bottom: 70px;
    }
}
@media screen and (max-width: 500px) {
    .portfolioBlock {
        padding-top: 40px;
        h2 {
            margin-bottom: 45px;
        }
    }
}