.portfolioBlock {
    padding-top: 60px;
    h2 {
        text-align: center;
        margin-bottom: 70px;
    }
}

@media screen and (max-width: 800px) {
    .portfolioWorks {
        grid-template-columns: 1fr;
        max-width: 600px;
        margin: 0 auto;
    }
}