.skill {
    background: #f7f7f7;
    text-align: center;
}
.icon {
    width: 60px;
    height: 60px;
    background: #F4CA16;
    margin: 0 auto 15px auto;
}
p.skillName {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 12px;
}
.desc p {
    margin-bottom: 0;
}
