.skillsBlock {
    padding: 110px 20px;
    background: #E1FFEB;
}
.skillsBlock h2 {
    background: #f7f7f7;
    text-align: center;
    margin-bottom: 50px;
}
.skills {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
    border: 1px solid;
}
@media screen and (max-width: 800px) {
    .skills {
        max-width: 400px;
        grid-template-columns: 1fr;
        margin: auto;
    }
}