.skillsBlock {
    padding: 110px 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    h2 {
        text-align: center;
        margin-bottom: 70px;
    }
    .skills {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 40px;
    }
}
@media screen and (max-width: 1020px) {
    .skillsBlock {
        padding: 60px 20px 80px 20px;
        h2 {
            margin-bottom: 50px;
        }
        .skills {
            max-width: 750px;
            grid-template-columns: 1fr;
            margin: 0 auto;
        }
    }
}