.imgAndLink {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    padding: 15px;
    overflow: hidden;
    z-index: 1;
}
.imgAndLink img {
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 700px;
    transform: translate(-50%, -50%);
    filter: grayscale(55%);
    z-index: -1;
}
.imgAndLink a {
    color: #000;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    box-shadow: 7px 7px 0 #A0A0A0;
}
.nameAndDesc {
    padding: 15px 25px;
    background: #fff;
}
.nameAndDesc p {
    margin-bottom: 0;
}
.nameAndDesc p.name {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 12px;
}