.btnHoverLeft {
    position: relative;
    display: inline-block;
    padding: 12px 65px;
    background: #fff;
    overflow: hidden;
    transition: 0.3s;
    z-index: 1;
}
.btnHoverLeft {
    color: #fff;
}
.btnHoverLeft:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 110%;
    transform: skewX(10deg) translateX(-10px);
    background: #AF53FF;
    transition: 0.35s all ease-out;
    z-index: -1;
}
.btnHoverLeft:hover:before {
    width: calc(100% + 20px);
}