.feedback {
  position: relative;
  padding: 0 50px 38px 50px;
  text-align: center;
  z-index: 1;
  .colorBg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
    z-index: -1;
  }
  img {
    max-width: 180px;
    border-radius: 50%;
    margin-top: -90px;
    margin-bottom: 25px;
  }
  p.name {
    font-family: "Oswald", sans-serif;
    font-size: 22px;
  }
  .text {
    overflow: hidden;
    margin-bottom: 8px;
    p {
      text-align: left;
      margin-bottom: 0;
    }
  }
  .showHideText {
    text-align: left;
    font-family: "Oswald", sans-serif;
    font-size: 18px;
    text-decoration: underline;
    cursor: pointer;
    margin-bottom: 12px;
  }
  .sites {
    text-align: left;
    a {
      margin-right: 8px;
      text-decoration: underline;
    }
  }
  svg {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 200px;
    height: 176px;
    opacity: 0.35;
    z-index: -1;
  }
}
@media screen and (max-width: 600px) {
  .feedback {
    padding: 0 35px 20px 35px;
    img {
      max-width: 150px;
      margin-top: -75px;
      margin-bottom: 18px;
    }
  }
}
@media screen and (max-width: 450px) {
  .feedback {
    padding: 0 25px 20px 25px;
  }
}