/* Шрифты */
@font-face {
    font-family: "OpenSans";
    src: url('../fonts/OpenSansRegular.eot'), url("../fonts/OpenSansRegular.woff"), url("../fonts/OpenSansRegular.ttf");
    font-weight: 300;
}
@font-face {
    font-family: "OpenSans";
    src: url('../fonts/OpenSansBold.eot'), url("../fonts/OpenSansBold.woff"), url("../fonts/OpenSansBold.ttf");
    font-weight: 600;
}
@font-face {
    font-family: "Oswald";
    src: url('../fonts/Oswald-Light.eot'), url("../fonts/Oswald-Light.woff"), url("../fonts/Oswald-Light.ttf");
    font-weight: 200;
}
@font-face {
    font-family: "Oswald";
    src: url('../fonts/Oswald-Regular.eot'), url("../fonts/Oswald-Regular.woff"), url("../fonts/Oswald-Regular.ttf");
    font-weight: 400;
}
@font-face {
    font-family: "Oswald";
    src: url('../fonts/Oswald-Medium.eot'), url("../fonts/Oswald-Medium.woff"), url("../fonts/Oswald-Medium.ttf");
    font-weight: 600;
}

/*общие стили*/
* {
    box-sizing: border-box;
}
body {
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
}
#root {
    overflow: hidden;
}
a,
p,
li {
    font-family: "OpenSans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.3;
    color: #333;
}
p {
    margin-bottom: 20px;
}
a {
    text-decoration: none;
    color: #333;
}
a:focus {
    outline: unset;
}
h1,
h2 {
    font-family: "Oswald", sans-serif;
    color: #333;
    font-weight: 400;
    line-height: 1.3;
    margin-bottom: 25px;
}
h1 {
    font-size: 90px;
}
h2 {
    font-size: 75px;
}
h3,
h4 {
    font-family: "Oswald", sans-serif;
    font-weight: 200;
    line-height: 1.3;
    margin-bottom: 15px;
}
h3 {
    font-size: 35px;
}
h4 {
    font-size: 28px;
}
strong,
b {
    font-weight: 600;
}
mark {
    background-color: unset;
}
img {
    max-width: 100%;
}
hr {
    margin: 20px 0;
    border-width: 0;
    border-top: 1px solid #e0dede;
}
@media only screen and (max-width: 1020px) {
    h1 {
        font-size: 75px;
    }
    h2 {
        font-size: 68px;
    }
    h3 {
        font-size: 28px;
    }
    h4 {
        font-size: 24px;
    }
}
@media only screen and (max-width: 800px) {
    h1 {
        font-size: 68px;
    }
    h2 {
        font-size: 58px;
    }
    h3 {
        font-size: 26px;
    }
    h4 {
        font-size: 22px;
    }
}
@media only screen and (max-width: 500px) {
    h1 {
        font-size: 50px;
    }
    h2 {
        font-size: 40px;
    }
    h3 {
        font-size: 24px;
    }
    h4 {
        font-size: 20px;
    }
}

/* Основная ширина */
.container {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
}

/* стили для ul li */
ul.ul-custom {
    margin-bottom: 20px;
}
ul.ul-custom li {
    position: relative;
    margin-bottom: 3px;
    padding-left: 24px;
    line-height: 1.3;
}
ul.ul-custom li:before {
    content: "";
    position: absolute;
    top: 9px;
    left: 8px;
    width: 6px;
    height: 6px;
    background: #29323C;
    border-radius: 50%;
}

/* Кнопка с анимацией hover left */
.btnHoverLeft {
    position: relative;
    display: inline-block;
    padding: 12px 65px;
    background: #fff;
    overflow: hidden;
    color: #fff;
    transition: 0.3s;
    z-index: 1;
}
.btnHoverLeft:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 110%;
    transform: skewX(10deg) translateX(-10px);
    background: #AF53FF;
    transition: 0.35s all ease-out;
    z-index: -1;
}
.btnHoverLeft:hover:before {
    width: calc(100% + 20px);
}

/* кнопка с анимацией "блик" - <a href="#" class="btn-animation-blicked is-blicked">ОСТАВИТЬ ЗАЯВКУ</a>*/
.btn-animation-blicked {
    position: relative;
    display: inline-block;
    font-size: 18px;
    color: #fff;
    background: red;
    padding: 12px 40px;
    overflow: hidden;
}
.btn-animation-blicked.is-blicked:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    background: -webkit-gradient(linear, left top, right top, color-stop(10%, hsla(0, 0%, 100%, 0.1)), color-stop(20%, hsla(0, 0%, 100%, 0.2)), to(hsla(0, 0%, 100%, 0.6)));
    background: linear-gradient(90deg, hsla(0, 0%, 100%, 0.1) 10%, hsla(0, 0%, 100%, 0.2) 20%, hsla(0, 0%, 100%, 0.6));
    width: 20px;
    -webkit-transform: skewX(-45deg);
    transform: skewX(-45deg);
    left: -20%;
    -webkit-transition: all 0.6s ease;
    transition: all 0.6s ease;
    -webkit-animation-name: blick;
    animation-name: blick;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}
@-webkit-keyframes blick {
    45%,
    to {
        left: 120%;
    }
}
@keyframes blick {
    45%,
    to {
        left: 120%;
    }
}

/* Анимация заголовка */
span.titleBg {
    position: relative;
    display: inline-block;
    z-index: 1;
}
span.titleBgIn {
    position: absolute;
    left: -25%;
    top: 50%;
    width: 0;
    height: 50%;
    background: #D7F4D7;
    z-index: -1;
}